form {
    width: 40%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  form input, form select, form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
  }
  
  form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
  }

  #reset{
    background-color: white;
    color: black;
  }
  
  form input[type="submit"]:hover {
    opacity: 0.8;
  }
  